.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-2);

    border: var(--border-width) solid var(--border);
    border-radius: var(--radius-sm);

    background: var(--page-bg);
    color: var(--text-important);

    box-shadow: var(--shadow-deselected);
    transition: 300ms box-shadow;
}

.icon-button:hover {
    border-color: var(--border-hover);
}

.icon-button:focus-visible {
    outline: none;
    box-shadow: var(--shadow-selected);
    border-color: var(--border-primary);
}

.icon-button.danger {
    color: var(--danger);
    box-shadow: var(--shadow-deselected-danger);
}

.icon-button.danger:focus-visible {
    box-shadow: var(--shadow-selected-danger);
    border-color: var(--border-danger);
}
