.file-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    gap: var(--space-3);

    position: relative;
    overflow: hidden;

    padding: var(--space-2) var(--space-3);

    border: var(--border-width) solid var(--border);
    border-radius: var(--radius-sm);
    background: var(--page-bg);

    min-width: var(--input-min-width);
    max-width: var(--input-max-width);

    color: var(--text);
    font-size: 1rem;
    text-align: left;

    flex-grow: 1;

    box-shadow: var(--shadow-deselected);
    transition: 300ms box-shadow;
}

.file-input-wrapper:hover {
    border-color: var(--border-hover);
    cursor: pointer;
}

.file-input-wrapper.fi-error {
    border-color: var(--border-danger);
}

.file-input-wrapper .fi-icon-box,
.file-input-wrapper .fi-spinner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.fi-success {
    color: var(--success);
}

.fi-error {
    color: var(--danger);
}

.file-input-wrapper .fi-spinner {
    animation: 1s linear infinite spin;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.file-input-wrapper .fi-file-name {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.file-input-wrapper .fi-progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;

    height: 3px;

    background: var(--primary);
}

.file-input-wrapper .fi-input {
    width: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
}

.file-input-wrapper:has(input:focus-visible) {
    box-shadow: var(--shadow-selected);
    border-color: var(--border-primary);
}
