.card-wrapper {
    margin-top: 32px;
}

.card-wrapper .card-title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: var(--text);
    margin-bottom: 8px;
}

.card {
    width: 100%;
    background: var(--level-1);
    border: var(--border-width) solid var(--border);
    border-radius: var(--radius-md);


    display: flex;
    flex-flow: column;
}

.card .card-content {
    display: flex;
    flex-flow: column;
    gap: var(--space-3);

    padding: var(--space-3);
}

.card p {
    margin: 0;
}

.card .card-actions {
    background: var(--page-bg);

    border-top: var(--border-width) solid var(--border);

    border-bottom-left-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);

    padding: var(--space-3);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.card-actions .card-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row nowrap;
    gap: var(--space-3);
}
