@font-face {
    font-family: "Inter";
    src: url("/assets/InterVariable.woff2") format("woff2 supports variations"),
         url("/assets/InterVariable.woff2") format("woff2-variations");
    font-weight: 100 900;
}

:root {
    --page-bg: #161616;

    --text-important: #ffffff;
    --text: #c8c8c8;

    --level-1: #262626;

    --primary: #3155d6;
    --on-primary: #ffffff;
    --success: #27db5a;
    --success-transparent: #27db5a10;
    --danger: #ff3162;;

    --border: #484848;
    --border-hover: #888888;
    --border-primary: #718ced;
    --border-primary-outline: #718ced50;
    --border-danger: #ff3162;
    --border-danger-outline: #ff316250;

    --border-width: 1px;
    --radius-sm: 4px;
    --radius-md: 8px;

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 32px;

    --shadow-1: 0px 4px 16px #00000033;
    --shadow-deselected: 0px 0px 0px 0px var(--border-primary-outline);
    --shadow-selected: 0px 0px 0px 2px var(--border-primary-outline);
    --shadow-deselected-danger: 0px 0px 0px 0px var(--border-danger-outline);
    --shadow-selected-danger: 0px 0px 0px 2px var(--border-danger-outline);

    --input-min-width: 200px;
    --input-max-width: 430px;
}

html, body, #main {
    background: var(--page-bg);

    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;

    color: var(--text);
}

* {
    font-family: "Inter", sans-serif;
    /* font-family: monospace; */
    font-smoothing: grayscale;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-important);
}
