.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.header .header-item {
    flex: 1 1 0;
    width: 0;
}

.header-item.header-item-center {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.header-item h1 {
    font-size: 24px;
}
