.text-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    gap: var(--space-3);

    position: relative;
    overflow: hidden;

    padding: var(--space-2) var(--space-3);

    border: var(--border-width) solid var(--border);
    border-radius: var(--radius-sm);
    background: var(--page-bg);

    min-width: var(--input-min-width);
    max-width: var(--input-max-width);

    color: var(--text);
    font-size: 1rem;
    text-align: left;

    flex-grow: 1;

    box-shadow: var(--shadow-deselected);
    transition: 300ms box-shadow;
}

.text-input-wrapper:hover {
    border-color: var(--border-hover);
    cursor: text;
}

.text-input-wrapper.ti-error {
    border-color: var(--error);
}

.text-input-wrapper .ti-icon-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.text-input-wrapper input {
    width: 100%;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 1rem;
    color: var(--text);
}

.text-input-wrapper:has(input:focus-visible) {
    box-shadow: var(--shadow-selected);
    border-color: var(--border-primary);
}

.text-input-wrapper input:focus-visible {
    outline: none;
}
